.httr-oauth
.Rapp.history
.RData
.Rhistory
.Rproj.user/
*-Ex.R
*.knit.md
*.utf8.md
/*_cache/
/*.Rcheck/
/*.tar.gz
/cache/
datasets.r
Rplot.png
Rplots.pdf
rsconnect/
tmp.r
vignettes/*.html
vignettes/*.pdf
оценка